@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}
       
      
        <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-900301626_437925_t2i3bm.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-4">Welcome to Le Malabar</h3>
            <p class="lead">A local bookstore that offers you tailor-made content.</p>
                    </div>
             </div>
        </div>

<!-- Page Content -->
<div class="container py-4 mt-4">

    <!-- Page Heading -->
    <h1 class="my-4 text-info display-4">
        What could make you happy?<BR />
        <small class="text-secondary">Consult</small>
    </h1>
    <p class="lead ">OTHER top Destination</p>
    <button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Miami</button>
    <button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Moshi</button>
    <button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Dar es salaam</button>
    <button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Arusha</button>
    <button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Penckin</button>


    <div class="row mt-4">
        @foreach (var book in Model)
        {
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card shadow border-0 h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@book.Name</a>
                        </h4>
                    </div>
                    <div class="card-title">
                        <p class="card-text">@book.Author</p>
                        <span class="card-text">@book.Price</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Page Content -->
<div class="container py-4 mt-4">
    <p class="display-3">Our Team</p>
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>

    </div>

        <!-- /.row -->

    </div>


  


