@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}
       
      
        <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-900301626_437925_t2i3bm.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-4">Welcome to Le Malabar</h3>
            <p class="lead">A local bookstore that offers you tailor-made content.</p>
                    </div>
             </div>
        </div>

<!-- Page Content -->
<div class="container py-4 mt-4">

    <!-- Page Heading -->
    <h1 class="my-4 text-info display-4">
        What could make you happy?<BR />
        <small class="text-secondary">
            For your satisfaction, we have: @Model.Count() books at your disposal. This number grows exponentially with
            each book creation.  
        </small>
    </h1>
    <p>Welcome to our library, this platform was developed by students Prince Divin Mackpayen and Jules Vesnat. 
        This project would not have succeeded without the assistance of Mr Cyril Tisserand.</p>
    
</div>


